# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
build_*
cmake_out

*.vcxproj*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
src/Debug
src/*.dir
/x64

compile_commands.json
